<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/010/055/897/non_2x/tv-icon-sign-symbol-design-free-png.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/home.css">
</head>
<body class="error">
  <%- include('./partials/nav.ejs') %>
  <h1 class="error-code">404</h1>
  <p>Так ну чет не то</p>
</body>
</html>
