<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/sidebar.ejs') %>
    <div class="cont play-cont">
        <div class="row">
            <div class="play-video">
                <video controls autplay>
                    <source src="images/myvideo.mp4" type="video/mp4">
                </video>

                <div class="tags">
                    <a href="">#Gaming</a> <a href="">#Fun</a> <a href="">#Jokes</a>
                </div>

                <h3>Самый лучший контент в мире и даже в Минске</h3>
                <div class="play-video-info">
                    <p>1 лям просмотрев · 1 год назад</p>
                    <div>
                        <a href=""><img src="images/like.png" alt="">100 000</a>
                        <a href=""><img src="images/dislike.png" alt="">2 000</a>
                        <a href=""><img src="images/share.png" alt="">Share</a>
                        <a href=""><img src="images/save.png" alt="">Save</a>
                    </div>
                </div>
                <hr>
                <div class="plubisher">
                    <img src="images/Rolent.png" alt="">
                    <div>
                        <p>Mikro</p>
                        <span>17 Подпищиков</span>
                    </div>
                    <button type="button" class="btn">Подписаться</button>
                </div>
                <div class="vid-des">
                    <p>The best chenall in the world</p>
                    <p>пОДПИСЫВАЕМСЯ РЕБЯТИШКИ </p>
                    <hr>
                    <h4>20 000 Коментов</h4>

                    <div class="add-coment">
                        <img src="images/Rolent.png" alt="">
                        <input type="text" placeholder="Оставить комментарий...">
                    </div>
                    <div class="old-comment">
                        <img src="images/marmok.png" alt="">
                        <div>
                            <h3>Marmok <span>1 секунду назад</span></h3>
                            <p> с меня квас! </p>
                            <div class="reaction">
                                <img src="images/like.png" alt="">
                                <span>158</span>
                                <img src="images/dislike.png" alt="">
                                <span>1</span>
                                <span>Ответить</span>
                                <a href=""><span class="replies">103</span>ответов</a>
                            </div>
                        </div>
                    </div>

                    <div class="old-comment">
                        <img src="images/kuplinov.png" alt="">
                        <div>
                            <h3>Kuplinov ► Play <span>5 дней назад</span></h3>
                            <p>comment</p>
                            <div class="reaction">
                                <img src="images/like.png" alt="">
                                <span>458</span>
                                <img src="images/dislike.png" alt="">
                                <span>2</span>
                                <span>Ответить</span>
                                <a href=""><span class="replies">100</span>ответов</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-sidebar">


                <div class="side-video-list">
                    <a href="" class="small-pic"><img src="images/thumbnail1.png" alt=""></a>
                    <div class="vid-info">
                        <a href="play-video.html">ДОЛГОЖДАННЫЙ КИБЕРПАНК ► Cyberpunk 2077 #1</a>
                        <p>Kuplinov ► Play</p>
                        <p>8.3 mil Просмотров · 2 года назад</p>
                    </div>
                </div>

                <div class="side-video-list">
                    <a href="" class="small-pic"><img src="images/thumbnail2.png" alt=""></a>
                    <div class="vid-info">
                        <a href="play-video.html">Хорошие игры #27 "Баги, Приколы, Фейлы"</a>
                        <p>Marmok</p>
                        <p>6 mil просмотр · 7 месяцев назад</p>
                    </div>
                </div>

                <div class="side-video-list">
                    <a href="" class="small-pic"><img src="images/thumbnail3.png" alt=""></a>
                    <div class="vid-info">
                        <a href="play-video.html">Страха нет (Father's Day)</a>
                        <p>Marmok</p>
                        <p>3.8 mil просмотр · 3 месяцев назад</p>
                    </div>
                </div>

                <div class="side-video-list">
                    <a href="" class="small-pic"><img src="images/thumbnail4.png" alt=""></a>
                    <div class="vid-info">
                        <a href="play-video.html">1,000 Незрячих Людей Видят Впервые</a>
                        <p>MrBeast</p>
                        <p>145 mil просмотр · 4 месяцев назад</p>
                    </div>
                </div>

                <div class="side-video-list">
                    <a href="" class="small-pic"><img src="images/thumbnail5.png" alt=""></a>
                    <div class="vid-info">
                        <a href="play-video.html">Что Добавили в НОВЫЙ Adobe Photoshop 2021 - Обзор и Что Нового?</a>
                        <p>DorrianKarnett</p>
                        <p>22 k просмотр · 2 года назад</p>
                    </div>
                </div>

                <div class="side-video-list">
                    <a href="" class="small-pic"><img src="images/thumbnail6.png" alt=""></a>
                    <div class="vid-info">
                        <a href="play-video.html">Minecraft Speedrunner VS 5 Hunters GRAND FINALE.</a>
                        <p>Dream</p>
                        <p>59 mil просмотр · 1 год назад</p>
                    </div>
                </div>

                <div class="side-video-list">
                    <a href="" class="small-pic"><img src="images/thumbnail7.png" alt=""></a>
                    <div class="vid-info">
                        <a href="play-video.html">Jaiden Smith Did it Again..</a>
                        <p>PewDiePie</p>
                        <p>4.6 mil просмотр · 11 месяцев назад</p>
                    </div>
                </div>

                <div class="side-video-list">
                    <a href="" class="small-pic"><img src="images/thumbnail8.png" alt=""></a>
                    <div class="vid-info">
                        <a href="play-video.html">КРАТОС И АТРЕЙ ВЕРНУЛИСЬ ► God of War Ragnarok #1</a>
                        <p>Kuplinov ► Play</p>
                        <p>4.3 mil просмотр · 7 месяцев назад</p>
                    </div>
                </div>

                <div class="side-video-list">
                    <a href="" class="small-pic"><img src="images/thumbnail9.png" alt=""></a>
                    <div class="vid-info">
                        <a href="play-video.html">YouTube Rewind 2019, but it's actually good</a>
                        <p>PewDiePie</p>
                        <p>28 mil просмотр · 3 года назад</p>
                    </div>
                </div>

                <div class="side-video-list">
                    <a href="" class="small-pic"><img src="images/thumbnail10.png" alt=""></a>
                    <div class="vid-info">
                        <a href="play-video.html">bye, from Dream.</a>
                        <p>Dream</p>
                        <p>3.8 mil просмотр · 1 день назад</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>
</html>