<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/010/055/897/non_2x/tv-icon-sign-symbol-design-free-png.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/home.css">
  <style></style>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="content">
    <h1>Profile:</h1>
  </div>
  

</body>
</html>
